@font-face {
    font-family: "Montserrat";
    src: url("./fonts//Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: 400, 700, 900;
}

/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

/* ROOT VARIABLES */
:root{
    --bg-color: hsl(240, 78%, 98%);
    --text-color: hsl(232, 13%, 33%);
    --primary-color: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    --secondary-color: #22c55e;
    --border-radius: 0.75rem;
}

/* BODY */
body{
    font-family: 'Montserrat';
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
}

/* MEDIA DEFAULTS */
img, picture, video, canvas, svg{
    display: block;
    max-width: 100%;
}

/* FORM ELEMENTS */
input, button, textarea, select{
    font: inherit;
}

button{
    cursor: pointer;
    border: none;
    background: none;
}

/* LINKS */
a{
    text-decoration: none;
    color: inherit;
}

/* UTILITIES */
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;
}

.w-auto{
    width: auto;
}

.h-auto{
    height: auto;
}

.w-100{
    width: 100%;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.top-0{
    top: 0;
}

.left-0{
    left: 0;
}

.right-0{
    right: 0;
}

.bottom-0{
    bottom: 0;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gap-4{
    gap: 1rem;
}

.gap-6{
    gap: 1.5rem;
}

.row{
    flex-direction: row;
}

.text-center{
    text-align: center;
}

.bg-blue{
    background-color: blue;
}

.self-stretch{
    align-self: stretch;
}


.inline-block{
    display: inline-block;
}

.pricing-section{
    width: 100%;
    height: 100dvh;
}

.price-section{
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background: var(--primary-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.card{
    width: 33%;
    height: auto;
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    gap: 1.2rem;
}

.card-button{
    width: 100%;
    background: var(--primary-color);
    color: white;
    padding: 1rem 2rem;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.card-button:hover{
    background: white;
    border: 2px solid hsl(236, 72%, 79%);
    color: hsl(237, 63%, 64%);
}

.card-2{
    width: 30%;
    transform: scale(1.1);
    background: var(--primary-color);
    color: white;
    padding: 3rem 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card-2-button{
    background: white; 
    color:  var(--text-color);
}

.card-2-button:hover{
    background: transparent;
    border: 2px solid white;
    color: white;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 375px){
    .card, .card-2{
        width: 100%;
        padding: 2rem;
        transform: scale(1);
    }
    
    .card-container{
        flex-direction: column;
        gap: 2rem;
    }
}